<h1>  Ian Bubb </h1>
    <div class="container">
        <div class="row">
    <h4>Contact Information:</h4>
            <div class="col-md-6">
        <p>Address: 449 Bubb Lane,
            Ellwood City, PA 16117</p>
        <p>Telephone: (724)752-4962</p>
            </div>
            <div class="col-md-6">
        <p>Email: ijbubbasaurus@hotmail.com</p>
        <p>Secondary Email: ghilliedviper6.2@gmail.com</p>
        <p>School Email: ijb1004@sru.edu</p>
            </div>
        </div>
    </div>
    <div class="pic">
        <img src = "{{Picture}}">
    </div>
<hr>