h1{
    font-family: 'Segoe UI', sans-serif, verdana;
    font-size: 50px;
    text-align: center;
    
}

div{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
}

hr {
    border:1px solid;
}
.pic{
    max-width: 20px;
    max-height: 20px;
}